.dimmed{
    opacity:.6;
}

.dimmed:hover{
    opacity:1.0;
}

.duty-roster-timeline .react-calendar-timeline .rct-items .rct-item.selected {
    background: transparent;
    border: 0px;
}

.duty-roster-timeline .react-calendar-timeline .rct-items .rct-item {
    border: 0px;
}

.duty-roster-timeline .react-calendar-timeline .rct-sidebar .rct-sidebar-header {
    z-index: 90;
}

.duty-roster-timeline .react-calendar-timeline .rct-header .rct-label-group{
    background: #327AB7;
    border: 0px;
}

.duty-roster-timeline .react-calendar-timeline .rct-sidebar .rct-sidebar-header{
    border-right: 1px solid #003366;
}
.duty-roster-timeline .react-calendar-timeline .rct-sidebar{
    border-right: 0px;
}

.duty-roster-timeline{
    height:inherit;
}

.sheriff-duty.drop-target.is-over .drop-target-overlay {
    z-index: 90;
    background-repeat: no-repeat;
}

.sheriff-duty-bar.drop-target.is-over.can-drop.is-overlap.dark .drop-target-overlay {
    background-image: url("/img/dutyRoster_warning_black.svg");
}

.sheriff-duty-bar.drop-target.is-over.can-drop.is-overlap.light .drop-target-overlay {
    background-image: url("/img/dutyRoster_warning_white.svg");
}

.sheriff-duty-bar.drop-target.is-over.can-drop.dark .drop-target-overlay {
    background-image: url("/img/dutyRoster_check_black.svg");
}

.sheriff-duty-bar.drop-target.is-over.can-drop.light .drop-target-overlay {
    background-image: url("/img/dutyRoster_check_white.svg");
}

.sheriff-duty-bar.drop-target.is-over.cant-drop .drop-target-overlay {
    background-image: unset;
}