.footerContainer{
    position:relative;
    z-index: 100;
}

.footerArrowBackground { 
    height: 45px;
    width: 90px;
    text-align: center;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;   
    border-radius: 90px 90px 0 0;
    background-color: #003366;
    position: absolute;
    top:-40px;
    right:20px;  
}

.footerArrow { 
    color: white;
    margin-top: 10px;
    font-size: 18px;
    z-index: 1000
}

#footer {
    border-top: 2px solid #003366;
    background: #003366;
    min-height: 12px;
    max-height: 58px;
}