.sheriff-duty-bar-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    display: flex;
    flex-direction: column;
}

.sheriff-duty-bar-list .sheriff-duty-bar{
    border-bottom: 1px solid white;
}

.sheriff-duty-bar-list > div:last-of-type .sheriff-duty-bar{
    border-bottom:unset;
}