.collapsible-section-header {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid lightgrey 1px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.collapsible-section-arrow {
    color: #808080;
}