.App {
  height:100vh;
  display:grid;  
  grid-template-columns: 100vw;
  grid-template-rows: 70px auto 44px;
  grid-template-areas:  
  "header"
  "content"
  "footer"
}

.headerArea .header-main{
  z-Index: 1000  
}

#header-main .logo{
  text-align: center;
  position:absolute;
  width:120px;
  z-index: 100;
  margin:5px 15px;  
}

#header-main .logo img{
  width:100%;
}

@media(min-width:768px){
  #header-main .logo{
    left:0;
  }

  #header-main{
    padding-top:5px;
  } 

  .navbar{
    margin-left:150px;
    margin-right:5px; 
  }
}

@media(max-width:768px){
  #header-main .logo{
    right:0px;
  }

  .App{
    grid-template-rows: 116px auto 44px;
  }
}

.headerArea {
  grid-area: header;
}

.mainArea {
  grid-area: content;  
}

.footerArea {
  grid-area: footer;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 80px; */
  left:0px;
}

.App-header {
  background-color: #0a163e;  
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.navbar-default .navbar-brand {
  color: #003366;
  font-weight: bold;
}

.navbar{
  margin-bottom:5px;
}

.App-content{
  height:100%
}

body{
  width:100%;
}

.unselectable{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}



/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


