/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xl, col-xl-push, hidden-xl, etc.
*
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*
*/

@media (min-width: 1200px) and (max-width: 1599px) {
    .hidden-lg {
        display: none !important;
    }
}


.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
    display: none !important;
}



@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }

    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-11 {
        width: 91.66666667%;
    }

    .col-xl-10 {
        width: 83.33333333%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-7 {
        width: 58.33333333%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-5 {
        width: 41.66666667%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-2 {
        width: 16.66666667%;
    }

    .col-xl-1 {
        width: 8.33333333%;
    }

    .col-xl-pull-12 {
        right: 100%;
    }

    .col-xl-pull-11 {
        right: 91.66666667%;
    }

    .col-xl-pull-10 {
        right: 83.33333333%;
    }

    .col-xl-pull-9 {
        right: 75%;
    }

    .col-xl-pull-8 {
        right: 66.66666667%;
    }

    .col-xl-pull-7 {
        right: 58.33333333%;
    }

    .col-xl-pull-6 {
        right: 50%;
    }

    .col-xl-pull-5 {
        right: 41.66666667%;
    }

    .col-xl-pull-4 {
        right: 33.33333333%;
    }

    .col-xl-pull-3 {
        right: 25%;
    }

    .col-xl-pull-2 {
        right: 16.66666667%;
    }

    .col-xl-pull-1 {
        right: 8.33333333%;
    }

    .col-xl-pull-0 {
        right: auto;
    }

    .col-xl-push-12 {
        left: 100%;
    }

    .col-xl-push-11 {
        left: 91.66666667%;
    }

    .col-xl-push-10 {
        left: 83.33333333%;
    }

    .col-xl-push-9 {
        left: 75%;
    }

    .col-xl-push-8 {
        left: 66.66666667%;
    }

    .col-xl-push-7 {
        left: 58.33333333%;
    }

    .col-xl-push-6 {
        left: 50%;
    }

    .col-xl-push-5 {
        left: 41.66666667%;
    }

    .col-xl-push-4 {
        left: 33.33333333%;
    }

    .col-xl-push-3 {
        left: 25%;
    }

    .col-xl-push-2 {
        left: 16.66666667%;
    }

    .col-xl-push-1 {
        left: 8.33333333%;
    }

    .col-xl-push-0 {
        left: auto;
    }

    .col-xl-offset-12 {
        margin-left: 100%;
    }

    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xl-offset-0 {
        margin-left: 0;
    }

    .visible-xl {
        display: block !important;
    }

    table.visible-xl {
        display: table;
    }

    tr.visible-xl {
        display: table-row !important;
    }

    th.visible-xl, td.visible-xl {
        display: table-cell !important;
    }

    .visible-xl-block {
        display: block !important;
    }

    .visible-xl-inline {
        display: inline !important;
    }

    .visible-xl-inline-block {
        display: inline-block !important;
    }

    .hidden-xl {
        display: none !important;
    }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width:100%;
}

.App {
  height:100vh;
  width: 100vw;
  overflow:hidden;
  display:flex;
  flex-direction: column;
}

.headerArea {
  flex:0 1;
  background-color: #003366;
}

.mainArea {
  flex:1;
  overflow: hidden;
}

.footerArea {
  flex: 0 1;
}

#header-main{
  z-index: 200;
}

#header-main .logo{
  text-align: center;
  /*position:absolute;*/
  width:120px;
  z-index: 100;
}

/*#header-main .logo img{
  width:100%;
}*/

.navbar{
  margin-bottom: 0px
}

.navbar-default .navbar-brand {
  color: #003366;
  font-weight: bold;
}
.navigationRibbon {
  border-top: 0px;
  box-shadow: none;
}

@media(min-width:768px){
  #header-main .logo{
    left:0;
  }

  .navbar{
    margin-left:5px;
    margin-right:5px;
  }
}

@media(max-width:768px){
  #header-main .logo{
    right:0px;
  }

  .App{
    grid-template-rows: 116px auto 44px;
  }
}


@media print {
  .headerArea,.footerArea {
    display: none
  }

  #main {
      width: 90%;
      margin: 0px;
      padding: 0px;

  }

  .App {
    height: unset;
  }

}

[draggable]:active {
  opacity: 1;
}

.unselectable{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.modal-xsmall{
  width: 350px;
  margin:30px auto;
}

.modal-small{
  width: 30%;
}

.modal-medium{
  width:43%;
}

.modal-xlarge{
  width:90%;
}

.modal-large{
  width:85%;
}

.drop-shadow{
  box-shadow: 0 2px 3px #A6A6A6;
}

.drop-shadow-hover:hover{
  box-shadow: 0 2px 3px #A6A6A6;
  transition: box-shadow .5s;
}

.action-button {
  border: 1px solid #F3BD48;
  background: #F3BD48;
}

.action-button.secondary{
  background: transparent;
  color: #F3BD48;
}

.toolbar-calendar-control {
  text-align: center;
  display: flex;
  background-color: #327AB7;
  margin-top: 10px;
}

.form-inline .form-group {
  margin-left: 3px;
  margin-right: 3px;
}

.warning-message {
  color: #e67e00;
  font-size: 16px;
  padding: 10px;
  background-color: #ffe8cc;
  border-radius: 5px;
}

/* TODO: Move this somewhere appropriate */
.form-group {
  width: 100%;
}

.form-control {
  font-weight: normal;
}

/* Filter icons */
th .glyphicon-filter {
  position: relative;
  left: -23px;
  top: 10px;
  color: grey;
  cursor: pointer;
}

.table-cell-text {
  margin-top: 7px;
  font-size: 14px;
}

/* Too many toasts! */
.Toastify__toast-container {
  margin-left: 0 !important; /* Override some style we're redoing the toasts  */
  width: 100%;
  left: 0;
  top: 0;
}

.Toastify__toast {
  position: absolute;
  left: 0;
  top: 73px;
  border-radius: 0;
  height: 73px;
  width: 100%;
}

.Toastify__toast-body {
  text-align: center;
}

/* Location selector */
.nav-location-selector-addon {
  background-color: #327AB7;
  color: white;
}

.nav-location-selector.is-disabled .nav-location-selector-addon {
  background-color: #777;
  color: white;
}

.nav-location-selector.is-disabled .form-control {
  background-color: #efefef;
}

/* New user bar */
.admin-form-filters-toggle {
  text-align: center;
  display: -ms-flexbox;
  display: inline-flex;
  background-color: #327AB7;
  margin: 7px 0 0;
  padding: 12px 2rem 9px;
  max-width: 100%;
  height: 100%;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  line-height: 18px;
  cursor: pointer;
}

/* DataTables */
.data-table-filter-row table,
.data-table-header-row table {
  background-color: #eee;
  table-layout: fixed;
  width: 100%;
  border: 1px solid lightgrey;
  border-bottom: none;
}

.fixed-filters-data-table {
  /* TODO: Should this really be a universal offset? */
  margin-top: 8rem !important;
}

.fixed-filters-data-table .data-table-filter-row {
  width: 100%;
  border: none;
  position: fixed;
  top: 119px;
  left: 0;
  padding: 15px 50px 15px 20px !important;
  background-color: #327AB7;
  z-index: 300;
}

.fixed-filters-data-table .data-table-filter-row table {
  table-layout: fixed;
  margin-bottom: 0;
  border: none;
  background-color: transparent;
}

.fixed-filters-data-table .data-table-filter-row table thead th {
  border: none;
}

.fixed-filters-data-table .data-table-header-row .data-table-header-row {
  margin-top: auto !important;
}

.fixed-filters-data-table .data-table-header-row table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid lightgrey;
  border-bottom: none;
}

.data-table .data-table table {
  margin-bottom: auto !important;
  max-width: 100% !important;
  min-width: 100% !important;
  width: auto !important;
}

/* Override user agent styling */
input:not([type="checkbox"]),
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.form-control {
  border-radius: 5px;
}

/* Input group rounding */
.input-group-addon + .form-control,
.input-group-addon + select {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-radius: 0 5px 5px 0 !important;
}

/* Use different box spacing for tables */
table,
table thead,
table tbody,
table th,
table td,
table col,
table tfoot {
  box-sizing: content-box;
}

table {
  width: auto;
  max-width: 100% !important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
}

table .form-group {
  margin-bottom: auto;
}

/* Flex utils for sheriff profile forms, etc */
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-wrap .form-group {
  width: auto;
  margin-left: 15px;
}

/* Just a visual experiment moving the nav bar down, this could be done with a react portal */
/* #header-main .nav-tabs {
    position: relative;
    top: 62px;
} */

#header-main .nav-tabs {
    position: relative;
    top: 10px;
}

#header-main .navbar-static-top > .container-fluid {
  border-bottom: 1px solid white;
  border-color: #FDB815; /* BC Gov Gold */
}

.modal-header {
  background-color: #327AB7;
  color: white;
  font-weight: bold;
}

.modal-header .close {
  color: white;
  text-shadow: none;
  opacity: 1;
}

/* Action buttons */
.action-buttons > button,
.action-buttons .action-button {
  margin-left: 5px;
}

/* Fix spacing */
.vert-center-with-label .control-label + .react-toggle {
  margin-left: 15px;
  position: relative;
  top: 6px;
}

fieldset.with-border {
  padding: 15px;
  border: 1px dotted #ddd;
  border-radius: 5px;
}

/* Main Navbar */
.navbar-brand {
    margin-left: -15px;
    top: 10px;
    position: relative;
  max-width: 100% !important;
  min-width: 100% !important;
  width: auto !important;
}

/* Just kill this nasty thing for now */
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: transparent;
}

/* Dropdown styling for main nav */
.nav > li > a {
  background: #003366;
  border-bottom-color: transparent;
  font-weight: bold;
}

.nav > li:hover > a {
  border-color: #327AB7;
  border-bottom-color: transparent;
}

.nav > li.active > a {
  border-color: #FDB815; /* BC Gov Gold */
  border-bottom-color: #003366;
  position: relative;
  top: 1px;
}

.nav > li.active:hover > a,
.nav > li.active:hover > a:hover {
  border-color: #FDB815; /* BC Gov Gold */
  border-bottom-color: #003366 !important;
}

.nav > li:not(.active):hover > a {
  /* font-weight: bold; */
  border-bottom-color: transparent;
}

.nav > li ul > li.active > a {
  color: white;
}

#header-main .navbar-nav > li a {
  color: white;
}

#header-main .navbar-nav > li ul > li a {
  color: #222;
}

#header-main .navbar-nav > li ul > li.active a {
  color: white;
}

#header-main .navbar-static-top > .container-fluid {
    display: flex;
    justify-content: space-between;
}

#header-main .nav-tabs {
  border-bottom: none;
}

#header-main .navbar-default {
  background: transparent;
  border-radius: 0;
  border-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

#header-main .navbar-default .navbar-nav>.active>a,
#header-main .navbar-default .navbar-nav>.active>a:focus,
#header-main .navbar-default .navbar-nav>.active>a:hover,
#header-main .navbar-default .navbar-nav>.open>a,
#header-main .navbar-default .navbar-nav>.open>a:focus,
#header-main .navbar-default .navbar-nav>.open>a:hover {
  background: transparent;
}

#header-main .logo {
  text-align: center;
  /* position: absolute; */
  width: auto;
  z-index: 100;
  position: relative;
  display: block;
  top: -35px;
  padding: 10px 0 0;
}

select.form-control {
  border-radius: 5px;
}

/* Input group rounding */
.input-group-addon + .form-control,
.input-group-addon + select {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-radius: 0 5px 5px 0 !important;
}

/* Use different box spacing for tables */
table,
table thead,
table tbody,
table th,
table td,
table col,
table tfoot {
  box-sizing: content-box;
}

table {
  width: auto;
  max-width: 100% !important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
}

table .form-group {
  margin-bottom: auto;
}

/* Flex utils for sheriff profile forms, etc */
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-wrap .form-group {
  width: auto;
  margin-left: 15px;
}

/* Just a visual experiment moving the nav bar down, this could be done with a react portal */
/* #header-main .nav-tabs {
    position: relative;
    top: 62px;
} */

#header-main .nav-tabs {
    position: relative;
    top: 10px;
}

#header-main .navbar-static-top > .container-fluid {
  border-bottom: 1px solid white;
  border-color: #FDB815; /* BC Gov Gold */
}

/* Override weird bootstrap style */
.modal-header .close {
  min-width: auto !important;
  width: auto !important;
}

h1.modal-title,
h2.modal-title,
h3.modal-title,
h4.modal-title,
h5.modal-title,
h6.modal-title {
  color: white;
  font-weight: bold !important;
}

.modal-header {
  background-color: #327AB7;
  color: white;
  font-weight: bold;
}

.modal-header .close {
  color: white;
  text-shadow: none;
  opacity: 1;
}

/* Action buttons */
.action-buttons > button,
.action-buttons .action-button {
  margin-left: 5px;
}

/* Custom tabs */
.admin-form-page-tab.is-active {
  background-color: white;
  color: black;
}

/* More custom table stuff */
.group-label-vert {
  transform: rotate(-90deg);
  display: flex; width: 100%;
  height: 100%;
  white-space: nowrap;
  position: relative;
  bottom: -25px;
  font-weight: bold;
}

.btn-transparent,
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
  background-color: transparent !important;
  border: none;
}

.sort-order-field .btn-xs {
  padding: 0px 10px;
  margin-left: 5px;
}

#user-profile-menu + .dropdown-menu {
  border-radius: 0 0 4px 4px !important;
  transform: translateY(-2px);
  min-width: 250px;
}

.user-profile-menu-toggle,
.user-profile-menu-toggle:hover,
.user-profile-menu-toggle:active,
.user-profile-menu-toggle:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.user-profile-menu-toggle .caret {
  color: white;
}

/* Deleted table rows */
.mark-as-deleted-strike {
  width: 100%;
  height: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
}

.mark-as-deleted-strike td {
  height: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  position: relative;
}

.mark-as-deleted-strike .strike-through {
    position: absolute;
    border: 1px solid red;
    width: 100%;
    box-sizing: border-box;
    top: 5px;
    opacity: 0.5;
}

tr.mark-as-deleted,
tr.mark-as-deleted td:not(:first-child) {
  background-color: #fff4f5 !important;
  border-color: #fff4f5 !important;
}

#user-profile-menu {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1400px) {
  .nav-location-selector .form-control {
    max-width: 130px; /* Reduce size of the location switch */
  }
}

@media screen and (max-width: 1024px) {
  /* Mobile / Responsive Nav Menu */
  /* Just override bootstrap tabs */
  #header-main.active {
    position: relative;
    max-width: none !important;
    width: 100% !important;
    height: 4rem;
    background-color: #327AB7;
    z-index: 500;
  }

  #header-main.active {
    position: absolute;
    max-width: none !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #327AB7;
    z-index: 500;
  }

  #header-main .navbar-static-top > .container-fluid {
    width: 100% !important;
    display: flex;
    flex-direction: row;
  }

  #header-main .navbar-nav.nav-tabs {
    display: flex;
    flex-direction: column;
  }

  #header-main .navbar-nav.nav-tabs {
    display: none;
  }

  #header-main .navbar-nav.navbar-right {
    display: flex;
    padding: 15px !important;
  }

  #header-main .navbar-nav.navbar-right .flex-row-wrap {
    flex-wrap: nowrap !important;
  }

  #header-main .nav > li > a,
  #header-main .nav > li > a:hover,
  #header-main .nav > li > a:active,
  #header-main .nav > li > a:focus {
    border: 1px dotted white !important;
    border-width: 0 0 1px 0 !important;
    font-weight: bold;
    background-color: transparent;
    color: white !important;
  }

  #header-main .navbar-nav > li ul > li a {
    color: white !important;
  }
}

@media screen and (max-width: 640px) {
  .navbar-brand {
    top: 0;
    float: none;
    display: block;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #header-main .logo {
    text-align: center;
    width: 100% !important;
    z-index: 100;
    position: relative;
    top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Mobile / Responsive Nav Menu */
  /* Just override bootstrap tabs */
  #header-main .navbar-static-top > .container-fluid {
    width: 100% !important;
    flex-direction: column;
  }

  #user-profile-menu + .dropdown-menu {
    position: absolute;
  }
}

/* Toggle */
.react-toggle-track {
    color: white;
}

/* Sheriff Profile Image */
.profile-image {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

label.file-upload {
    position: relative;
    overflow: hidden;
}

.form-control-file {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: 0;
    background: #fff;
    cursor: inherit;
    display: block;
}
