
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width:100%;
}

.App {
  height:100vh;
  width: 100vw;
  overflow:hidden;
  display:flex;
  flex-direction: column;
}

.headerArea {
  flex:0 1;
  background-color: #003366;
}

.mainArea {
  flex:1;
  overflow: hidden;
}

.footerArea {
  flex: 0 1;
}

#header-main{
  z-index: 200;
  margin:5px 0px;
}

#header-main .logo{
  text-align: center;
  position:absolute;
  width:120px;
  z-index: 100;
  margin:5px 15px;
}

#header-main .logo img{
  width:100%;
}

.navbar{
  margin-bottom: 0px
}

.navbar-default .navbar-brand {
  color: #003366;
  font-weight: bold;
}
.navigationRibbon {
  border-top: 0px;
  box-shadow: 0px;
}

@media(min-width:768px){
  #header-main .logo{
    left:0;
  }

  .navbar{
    margin-left:150px;
    margin-right:5px;
  }
}

@media(max-width:768px){
  #header-main .logo{
    right:0px;
  }

  .App{
    grid-template-rows: 116px auto 44px;
  }
}


@media print {
  .headerArea,.footerArea {
    display: none
  }

  #main {
      width: 90%;
      margin: 0px;
      padding: 0px;

  }

  .App {
    height: unset;
  }

}

[draggable]:active {
  opacity: 1;
}

.unselectable{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.modal-xsmall{
  width: 350px;
  margin:30px auto;
}

.modal-small{
  width: 30%;
}

.modal-medium{
  width:43%;
}

.modal-xlarge{
  width:90%;
}

.modal-large{
  width:85%;
}

.drop-shadow{
  box-shadow: 0 2px 3px #A6A6A6;
}

.drop-shadow-hover:hover{
  box-shadow: 0 2px 3px #A6A6A6;
  transition: box-shadow .5s;
}

.action-button {
  border: 1px solid #F3BD48;
  background: #F3BD48;
}

.action-button.secondary{
  background: transparent;
  color: #F3BD48;
}

.toolbar-calendar-control {
  text-align: center;
  display: flex;
  background-color: #327AB7;
  margin-top: 10px;
}

.form-inline .form-group {
  margin-left: 3px;
  margin-right: 3px;
}

.warning-message {
  color: #e67e00;
  font-size: 16px;
  padding: 10px;
  background-color: #ffe8cc;
  border-radius: 5px;
}

/* TODO: Move this somewhere appropriate */
.form-group {
  width: 100%;
}

/* TODO: For some reason table header columns bold the text and set the width of inputs differently */
.form-control {
  width: auto;
  font-weight: normal;
}

/* Filter icons */
th .glyphicon-filter {
  position: relative;
  left: -23px;
  top: 2px;
  color: grey;
  cursor: pointer;
}

.table-cell-text {
  margin-top: 7px;
  font-size: 14px;
}

/* Too many toasts! */
.Toastify__toast-container {
  margin-left: 0 !important; /* Override some style we're redoing the toasts  */
  width: 100%;
  left: 0;
  top: 0;
}

.Toastify__toast {
  position: absolute;
  left: 0;
  top: 73px;
  border-radius: 0;
  height: 73px;
  width: 100%;
}

.Toastify__toast-body {
  text-align: center;
}

/* New user bar */
.admin-form-filters-toggle {
  text-align: center;
  display: -ms-flexbox;
  display: inline-flex;
  background-color: #327AB7;
  margin: 7px 0 0;
  padding: 12px 2rem 9px;
  max-width: 100%;
  height: 100%;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  line-height: 18px;
  cursor: pointer;
}

/* DataTables */
.data-table-filter-row table,
.data-table-header-row table {
  background-color: #eee;
  table-layout: fixed;
  width: 100%;
  border: 1px solid lightgrey;
  border-bottom: none;
}

.fixed-filters-data-table .data-table-filter-row {
  width: 100%;
  border: none;
  position: fixed;
  top: 119px;
  left: 0;
  padding: 2.0rem 50px 0 19px !important;
  background-color: #327AB7;
  z-index: 1000;
}

.fixed-filters-data-table .data-table-filter-row table {
  table-layout: fixed;
  margin-bottom: 0;
  border: none;
  background-color: transparent;
}

.fixed-filters-data-table .data-table-filter-row table thead th {
  border: none;
}

.fixed-filters-data-table .data-table-header-row {
  margin-top: 9rem !important;
}

.fixed-filters-data-table .data-table-header-row .data-table-header-row {
  margin-top: auto !important;
}

.fixed-filters-data-table .data-table-header-row table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid lightgrey;
  border-bottom: none;
}

.data-table .data-table table {
  margin-bottom: auto !important;
}


