
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width:100%;
}

.App {
  height:100vh;
  width: 100vw;
  overflow:hidden;
  display:flex;
  flex-direction: column;
}

.headerArea {
  flex:0 1;
  background-color: #003366;
}

.mainArea {
  flex:1;
  overflow: hidden;
}

.footerArea {
  flex: 0 1;
}

#header-main{
  z-index: 200;
  margin:5px 0px;
}

#header-main .logo{
  text-align: center;
  position:absolute;
  width:120px;
  z-index: 100;
  margin:5px 15px;  
}

#header-main .logo img{
  width:100%;
}

.navbar{
  margin-bottom: 0px
}

.navbar-default .navbar-brand {
  color: #003366;
  font-weight: bold;
}
.navigationRibbon {
  border-top: 0px;
  box-shadow: 0px;
}

@media(min-width:768px){
  #header-main .logo{
    left:0;
  }

  .navbar{
    margin-left:150px;
    margin-right:5px; 
  }
}

@media(max-width:768px){
  #header-main .logo{
    right:0px;
  }

  .App{
    grid-template-rows: 116px auto 44px;
  }
}


@media print {
  .headerArea,.footerArea,.toolbar {
    display: none
  }

  #main {
      width: 90%;
      margin: 0px;
      padding: 0px;
  }

  .App {
    height:100vh;
    display:grid;  
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: "content";
  }

  thead {display: table-header-group;}
  tbody {display: table-row-group;}
}

[draggable]:active {
  opacity: 0.5;
}

.unselectable{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.modal-xlarge{
  width:90%;
}

.modal-large{
  width:85%;
}

.drop-shadow{
  box-shadow: 0 2px 3px #A6A6A6;
}

.drop-shadow-hover:hover{
  box-shadow: 0 2px 3px #A6A6A6;
  transition: box-shadow .5s;
}

.cancel-button {
  border: 1px solid #F3BD48;
  background: transparent;
  color: #F3BD48;
}

.action-button {
  border: 1px solid #F3BD48;
  background: #F3BD48;
}



.toolbar-calendar-control {
  text-align: center;
  display: flex; 
  background-color: #327AB7;
  margin-top: 10px;
}

.form-inline .form-group {
  margin-left: 3px;
  margin-right: 3px;
}

