.assignedSheriffs{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 80;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.assignedSheriff{
    height: 100%;
    border-bottom:solid white;    
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.assignedSheriff .removeAssignmentButton{
    display:none;
    position: absolute;
    right: 2px;
}

.assignedSheriff:hover .removeAssignmentButton{
    display:inline;
}