.schedule-summary-week {
    display: flex;
    flex-direction: row;
}
.schedule-summary-day {
    width: 20px;
    height: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;   
    border-radius: 50%;
    background-color: white;
    border: 1px solid;
    margin: 1px;
}

.empty-day {
    border-color: grey;
    font-size: 12px;
    color: grey;
}

.non-empty-day {
    font-size: 11px;
    font-weight: lighter;
}

.warning-day {
    border-color: darkorange;
    color: darkorange;
}

.bad-day {
    border-color: red;
    color: red;
    padding-top: 2px;
    padding-left: 2px;
}

.good-day {
    border-color: green;  
    color: green;
    padding-top: 2px;  
}

