.react-calendar-timeline .rct-sidebar .rct-sidebar-header{
    background: #002663;
}

.react-calendar-timeline .rct-header .rct-label-group{
    background: #002663;
}

.react-calendar-timeline .rct-items .rct-item {
    padding:0;
}

.react-calendar-timeline .rct-items .rct-item.selected {
    background:transparent;
    border:2px dashed #000;
}

.react-calendar-timeline .rct-items .rct-item .rct-item-overflow .rct-item-content{
    padding:0;
    width:100%;
}