.assignment-duty-card{
    background-color: transparent;
    border: solid;
    border-color: #96c0e6;
    border-width: 2px;
    flex: 1;
    z-index: 70;
    position: relative;
}

.assignment-duty-card:hover{
    /* margin-right:4px;
    margin-bottom: 4px; */
    margin:2px;
}

.assignment-duty-card .assignment-duty-actions-panel{
    display:none;
}

.assignment-duty-card:hover .assignment-duty-actions-panel{
    display:initial;
}

