.sheriff-duty-bar{
    height: 100%;
    border-bottom:solid white;    
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.sheriff-duty-bar .remove-assignment-btn{
    display:none;
    position: absolute;
    right: 2px;
}

.sheriff-duty-bar:hover .remove-assignment-btn{
    display:inline;
}