.assignment-actions .add-duty-btn{
    /* display:none; */
    /* position: absolute; */
    /* right: 2px; */

    float: right; 
    padding-left: 10;
}
.assignment-actions {
    /* display:none; */
    /* position: absolute; */
    /* right: 2px; */

    float: right; 
    padding-left: 20;
}
/* 
.assignment-actions:hover .add-duty-btn{
    display:inherit;
} */