.assignment-card { 
    position: absolute; 
    width: 100%; 
    font-size: 13pt;
}

.assignment-actions {
    /* display: none; */
    display: block;
    float: right; 
    padding-right: 5px;
}

/* .assignment-card:hover .assignment-actions {
    display: block;
} */

.assignment-card-title {
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
}
