.assignment-card { 
    position: absolute; 
    width: 100%; 
    font-size: 13pt;
}

.assignment-actions {
    display: none;
    float: right; 
    padding-right: 5px;
}

.assignment-card:hover .assignment-actions {
    display: block;
}
